<?xml version="1.0" encoding="utf-8"?>
 
<configuration>
	<connectionStrings>
		 
		<add name="MyConnectionString" connectionString="Data Source=IPADRESS;Initial Catalog=DATABASE_NAME;User ID=SQLUSER;Password=SQLPASSWORD" />
	</connectionStrings>
	<appSettings>
		<!-- Hangi saat aralıklarında çalışacak ise aşağıda saatleri belirtin.-->
		<add key="StartTime" value="08" />
		<add key="EndTime" value="23" />
		<add key="MerchantID" value="2" />
		<add key="MerchantName" value="KILICLAR" />
		
	</appSettings>
</configuration>
